img, image{
    border:1px solid black;
}
.ui-widget-header{
    background:darkblue;
    border:none;
}
#visualSlideDisplay img{
    width:100%;
}
.imgContainer{
    position:relative;
}
