img, image{
    border:1px solid black;
}
#ipadContainer{
    border:1px solid black;
    text-align:center;
}
#fig{
    width:100%;
    height:100%;
}
#breadcrumb{
    top:0.5em;
    position:fixed;
    padding:0.5em;
    text-align:left;
    opacity:0.5;
}
