<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/jquery-ui-1.8.7.custom.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/metl.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/quiz.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/intenseDebate.css'}">
        <script src="@{'/public/javascripts/protovis-r3.2.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/underscore.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/jquery-1.4.4.min.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/jquery.corner.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/jquery.bubble.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.7.custom.min.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/jquery.ui.ipad.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/jquery.textchange.min.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/sprintf-0.7-beta1.js'}" type="text/javascript"></script>
    </head>
    <body>
        <script>
            var server = "${serverName}";
            var detailedAuthors = #{verbatim}${authorJson}#{/verbatim}
        </script>
        #{doLayout /}
        <script src="@{'/public/javascripts/constants.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/commands.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/marketplace.js'}" type="text/javascript"></script>

        <script src="@{'/public/javascripts/breadcrumbs.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/visualSearch.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/textNavigation.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/jInk.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/quizzing.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/classroomSimulator.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/analysis.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/literalSlideDisplay.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/postIts.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/easyTileDialogs.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/bubbleTree.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/userProfiles.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/pluginList.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/authorSearch.js'}" type="text/javascript"></script>
        <script src="@{'/public/javascripts/intenseDebate.js'}" type="text/javascript"></script>
        <script>//Loads profile if device global is defined
            Commands.fire("loadPlugin","Device profiles")
        </script>
    </body>
</html>
