<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="metlConfigurationGroup">
      <section
        name="metlConfiguration"
        type="MeTLLib.MeTLConfigurationSection,MeTLLib"
       />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SandRibbon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
  </runtime>

  <metlConfigurationGroup>
    <metlConfiguration>
      <activeStackConfig name="staging" />
      <production name="prod" isBootstrapUrl="false"
                  thumbnail="http://metlviewer.adm.monash.edu/thumbnail/"
                  protocol="https"
                  host="http://adm-web25-v02.adm.monash.edu.au"
                  port="1188"
                  xmppServiceName="metl.adm.monash.edu.au"
                  meggleUrl="http://metlviewer.adm.monash.edu.au/search?query="
                  uploadEndpoint="upload_nested.yaws"
                  authenticationEndpoint="authentication.yaws"
                  />
      <staging name="standalone" isBootstrapUrl="false"
               meggleUrl="https://ec2-54-200-224-63.us-west-2.compute.amazonaws.com:8080/search?query="
               thumbnail="https://ec2-54-200-224-63.us-west-2.compute.amazonaws.com:8080/thumbnail/"
               protocol="https"
               host="https://ec2-54-201-39-129.us-west-2.compute.amazonaws.com"
               port="1188"
               xmppServiceName="metl.adm.monash.edu.au"
               uploadEndpoint="upload_nested.yaws"
               authenticationEndpoint="authentication.yaws" />
      <external name="civic" isBootstrapUrl="false"
                thumbnail="http://metlviewer.adm.monash.edu/thumbnail/"
                protocol="https"
                host="http://adm-web25-v02.adm.monash.edu.au"
                port="1188"
                xmppServiceName="metl.adm.monash.edu.au"
                meggleUrl="http://metlviewer.adm.monash.edu.au/search?query="
                uploadEndpoint="upload_nested.yaws"
                authenticationEndpoint="authentication.yaws"/>
      <resourceCredential username="exampleUsername" password="examplePassword" />
      <xmppCredential username="" password="examplePassword" />
      <crypto key="01234567" iv="01234567" />
    </metlConfiguration>
  </metlConfigurationGroup>
  <applicationSettings>
    <SandRibbon.Properties.Settings>
      <setting name="LicenceUrl" serializeAs="String">
        <value>http://metl.adm.monash.edu.au/MeTL/docs/license.html</value>
      </setting>
      <setting name="PrivacyUrl" serializeAs="String">
        <value>http://monash.edu/legals/privacy.html</value>
      </setting>
      <setting name="LegalsUrl" serializeAs="String">
        <value>http://monash.edu/legals/</value>
      </setting>
      <setting name="CompanyUrl" serializeAs="String">
        <value>http://monash.edu/</value>
      </setting>
      <setting name="ContactUrl" serializeAs="String">
        <value>http://www.monash.edu/eeducation</value>
      </setting>
      <setting name="DescriptionUrl" serializeAs="String">
        <value>http://www.monash.edu/eeducation/metl/what-is-metl.html</value>
      </setting>
      <setting name="StudentUsagePolicyUrl" serializeAs="String">
        <value>http://www.policy.monash.edu/policy-bank/management/its/acceptable-use-of-information-technology-facilities-by-students-policy.html</value>
      </setting>
      <setting name="StaffUsagePolicyUrl" serializeAs="String">
        <value>http://www.policy.monash.edu/policy-bank/management/its/it-use-policy-staff-and-authorised.html</value>
      </setting>
      <setting name="ReleaseNotesUrl" serializeAs="String">
        <value>http://metl.adm.monash.edu.au/MeTL/MeTLPresenterReleaseNotes.txt</value>
      </setting>
      <setting name="UserAgreementUrl" serializeAs="String">
        <value>http://metl.adm.monash.edu.au/MeTL/docs/tabletSupport/MLS_UserAgreement.html</value>
      </setting>
      <setting name="BugReportUrl" serializeAs="String">
        <value>http://metl.adm.monash.edu.au/MeTL/docs/report_a_bug.html</value>
      </setting>
      <setting name="TutorialUrl" serializeAs="String">
        <value>http://metl.adm.monash.edu.au/MeTL/docs/tabletSupport/MLS_Tutorials.html</value>
      </setting>
    </SandRibbon.Properties.Settings>
  </applicationSettings>
</configuration>
