<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="MeTL : A realtime system to manage learning ">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67482494-1', 'auto');
      ga('send', 'pageview');

    </script>
    <title>MeTL</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        <a id="forkme_banner" href="https://github.com/StackableRegiments">View on GitHub</a>

        <h1 id="project_title">
          <a href="index">
            <img src="images/metl_header.png" />
          </a>
        </h1>
        <h2 id="project_tagline">An open realtime system to manage learning</h2>

        <nav>
          <a href="getStarted">Get started</a>
          <a href="demo">Try it out</a>
          <a href="downloads">Downloads</a>
        </nav>

      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{content}}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">

      <footer class="inner">
        <nav>
          <a href="testimonials">Testimonials</a>
          <a href="credits">Credits</a>
        </nav>

        <p class="copyright">MeTL maintained by <a href="https://github.com/StackableRegiments">StackableRegiments</a></p>
      </footer>
    </div>

  </body>
</html>
