#{extends 'main.html' /}
<style type='text/css'>
    #main, #border, #visualSlideDisplayHost{
        position:absolute;
        width:480px;
        height:320px;
        top:0;
        left:0;
    }
    #marketplaceLauncher{
    	position:absolute;
        width:30px;
        left:450px;
        top:0px;
    }
    #border{
        border:5px solid black;
        top:-5px;
        left:-5px;
    }
    #authorFilter{
        position:absolute;
        top:0;
        left:0;
    }
    #conversationFilter{
        position:absolute;
        top:320px;
        left:0;
    }
    #filterResults{
    	display:none;
    }
    #visualSlideDisplayHost{
        top:640px;
    }
</style>
<div id='border'></div>
<div id='main'></div>
<img src='/public/images/shoppingCart.jpg' id='marketplaceLauncher' />   
<div id='authorFilter'></div>
<div id='conversationFilter'></div>
<div id='filterResults'></div>
<div id='visualSlideDisplayHost'></div>
<script>
    var main = $('#main')
    width = main.width()
    height = main.height()
    device = "iPhone"
</script>
