#{extends 'main.html' /}
<style type='text/css'>
    #main{
    	position:absolute;
        width:480px;
        height:320px;
        top:0;
        left:0;
    }
    #marketplaceLauncher{
    	position:absolute;
        width:30px;
        left:450px;
        top:0px;
    }
    #visualSlideDisplayHost{
        position:absolute;
        top:0;
        left:480px;
    }
    #idc-container{
        position:absolute;
        left:0;
        top:640px;
    }
    #authorFilter{
        position:absolute;
        top:0;
        left:0;
    }
    #conversationFilter{
        position:absolute;
        top:320px;
        left:0;
    }
    #filterResults{
    	display:none;
    }
</style>
<div id='main'></div>
<img src='/public/images/shoppingCart.jpg' id='marketplaceLauncher' />   
<div id='authorFilter'></div>
<div id='conversationFilter'></div>
<div id='filterResults'></div>
<div id='visualSlideDisplayHost'></div>
<script>
    var main = $('#main')
    width = main.width()
    height = main.height()
    $('#visualSlideDisplayHost').width(window.innerWidth).height(window.innerHeight)
    device = 'laptop'
</script>
